<% include partial/header %>
<div class="definition-inner padding-resp-m u-dark-theme">
<div class ="row gutters">..</div>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUWD30c4d5vTfYziJW9k-lN70n1qpREvFGEIAjcw-MmmbCFemsrw">
<h1>Pollution</h1>
<h2>1.1 Remedial Measures</h2>
Pollution control is an essential task. There are four types of control: legal, social, economical, and technological measures, which help to prevent the pollution by various methods of operations. Waste products enter the environment in various forms and threaten the quality of the air, land, and water. The presence of waste products in water is especially serious, as many of these products can enter the food chain, where the biochemical processes can rapidly increase their concentration to toxic level. Hence, it is extremely important to study the methods of treating waste products and eliminating them from aqueous system. The US Environmental Protection Agency has listed copper as a priority pollutant.

Pollution control has almost become an integral part of the process of industrialization. Appropriate laws have been passed that restrict and regulate the growth of pollution intensive industries, especially in metropolitan cities. It has been made obligatory for industrial units to adopt measures to control pollution.

To control pollution we have taken some measures so that people can click the pics of ares which are a potential source of pollution and upload on the website so that government of india can take appropriate measures.

1.CLICK PICS OF POTENTIAL POLLUTION SOURCES.
2.GET IMAGE ADDRESS OF PIC
3.UPLOAD NAME OF PLACE/SOURCE ALONG WITH IMAGE ADDRESS

</div>
<a href="/com">CLICK HERE TO VIEWS ALL POLLUTION SOURCES </a>
<% include partial/footer %>