<% include partial/header %>
<h1>create a new camp site</h1>
<form action="/campg" method="POST">
<input type="text" name="name" placeholder="name">
<input type="text" name="link" placeholder="img">
<input type="text" name="description" placeholder="give info">
<br>
<input type="submit">
<br>
<a href="/com">go back</a>
</form>
<% include partial/footer %>